main {
  width: 100%;
  min-height: max-content;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.125rem;
}
h1 {
  text-align: center;
  padding: 20px 0px;
}
p {
  margin-top: 5px;
}
h2 {
  margin: 15px 0px;
}
.bi-instagram {
  color: purple;
}
i {
  padding: 0px 5px;
}
