/* ---------------Navbar style START-------------------*/
.warning h3{
    color: var(--bs-red1);
    }
.logo a{
    font-size: 2.4rem;
}
.main-menu{
    gap: 5px;
}
.main-menu ul .main-list a{
    font-size: 1.1rem;
    padding: 0px 20px;
}
/* ---------------Navbar style END-------------------*/

/* --------------------------------------------------------------------------------------- */

/* ---------------Main style START-------------------*/


/* ---------------Main style END-------------------*/
/* --------------------------------------------------------------------------------------- */

/* ---------------Footer style START-------------------*/

/* ---------------Footer style END-------------------*/

/* 769px — 1024px: Small screens, laptops